<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escapa de Ort</title>
    <link rel="icon" type="image/x-icon" href="imagenes/logo.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href='@UrlAction("JugarSala", "Home")'>Jugar/seguir</a></li>
                <li><a href='@UrlAction("Creditos", "Home")'>Creditos</a></li>
                <li><a href='@UrlAction("Historia", "Home")'>Historia</a></li>
            </ul>
        </nav>
        <h1>Escapa de Ort</h1>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; @DateTime.Now.Year - Escapa de Ort
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
