<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escapa de Ort</title>
    <link rel="icon" type="image/x-icon" href="imagenes/logo.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <a href="@Url.Action("Index", "Home")" class="logo-nav">Escapa de Ort</del></a>
            <ul class="lista-nav">
                <li><a class="enlace-nav" href="@Url.Action("Historia", "Home")">Historia</a></li>
                <li><a class="enlace-nav" href="@Url.Action("Creditos", "Home")">Créditos</a></li>
                <li><a class="enlace-nav" href="@Url.Action("Index", "Home")">Inicio</a></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; @DateTime.Now.Year - Escapa de Ort
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
