@{
    ViewData["Title"] = "Index";
}
    <div>
    <ul>
    <li>n n n<form action='@Url.Action("Sala1", "Home")' method="post">
        <input type="text" name="secuencia1"/>
        <input type="submit" value="Entrar">
    </form> n n n</li>
    <li>n n n<form action='@Url.Action("Sala1", "Home")' method="post">
        <input type="text" name="secuencia2"/>
        <input type="submit" value="Entrar">
    </form> n n n</li>
    <li>n n n<form action='@Url.Action("Sala1", "Home")' method="post">
        <input type="text" name="secuencia3"/>
        <input type="submit" value="Entrar">
    </form> n n n</li>
    <li>n n n<form action='@Url.Action("Sala1", "Home")' method="post">
        <input type="text" name="secuencia4"/>
        <input type="submit" value="Entrar">
    </form> n n n</li>
    <li>n n n<form action='@Url.Action("Sala1", "Home")' method="post">
        <input type="text" name="secuencia5"/>
        <input type="submit" value="Entrar">
    </form> n n n</li>
    </ul>
    <form action='@Url.Action("PasarSala", "Home")' method="get">
        <input type="text" name="contraseñ"/>
        <input type="submit" value="Entrar">
    </form>
</div>