@{
    ViewData["Title"] = "Sala 2";
}
<section class="sala2">
    <h1 class="consigna">Adiviná el número de 5 digitos</h1>
    <p>Intentos restantes: @(6 - ViewBag.intentos.Count)</p>
    @foreach (IntentoWordle intento in ViewBag.intentos)
    {
        <div class="intento">
            <p>Intento: @(intento.intento)</p>
            <p>Están en la posición correcta: @(intento.correctas)</p>
            <p>Están pero en la posición incorrecta: @(intento.estan)</p>
            <p>No están: @(intento.incorrectas)</p>
        </div>
    }
    <form method="post" action='@Url.Action("ValidarWordle", "Home")'>
        <input type="number" name="intento" min="10000" max="99999" />
        <input type="submit" value="Intentar"/>
    </form>
</section>
